@using MvcKutuphne.Models.Entity
@model List<YAZAR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazarlar</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>DETAY</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.SOYAD</td>
            <td>@x.DETAY</td>

        </tr>
    }
</table>
<a class="btn btn-primary" href="/Yazar/YazarEkle/">Yeni Yazar Ekle</a>
